*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Index */
body.bg{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.logIn{
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logIn input{
    color: white;
    background-color: black;
    width: 80px;
    height: 30px;
}
.logo{
    margin: auto;
    justify-items: center;
    height: 500px;
    width: 500px;
}
.title{
    color: black;
    text-align: center;
    font-size: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.barraUsuario{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}
.barraUsuario a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.barraUsuario input{
    height: 60px;
    width: 150px;
    color: white;
    background-color: black;
    border-radius: 45%;
    transition: all 1s;
}
.barraUsuario input:hover{
    color: black;
    background-color: white;
    height: 80px;
    width: 175px;
}
.centralImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.carouselContainer{
    margin:auto;
    width: 1250px;
}
.footerContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px;
}
.footerLinks{
    display: grid;
    align-content: space-around;
}
.footerConta{
    display: grid;
    grid-template-columns: 200px 200px;
}
.footer{
    text-decoration: none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: orange;
}

/* Log In */

body.text-center{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../img/fondo-logIn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#pI{
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#pI input{
    color: white;
    background-color: black;
    width: 120px;
    height: 30px;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

/* Lista de deseados */

.containerLista{
    display: grid;
}
.containerLista .lista{
    display: grid;
    width: 600px;
    height: auto;
    gap: 20px;
    border: black 1px solid;
}
.lista thead th{
    text-align: center;
}
.lista tr td img{
    height: 100px;
    width: 75px;
}
tr td{
    text-align: center;
}

/* Ofertas */

.bofertas{
    background-image: url(../img/ofertas-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.h1ofe{
    color: white;
    font-size: 100px;
    text-align: center;
}
.ofertasContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    justify-items: center;
    gap: 50px;
    padding-top: 75px;
}
.ofertasItems{
    display: grid;
    grid-template-rows: 200px auto;
}
.ofertasItems img{
    height: 200px;
    width: 200px;
}
.ofertasItems p{
    color: white;
    text-align: center;
    align-self: center;
    justify-self: center;
}

/* Responsive */

@media (319px <= width <= 767px) {
    .mainNav{
        margin: 0 auto;
    }
    .barraUsuario{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }
    .barraUsuario a{
        display: grid;
        justify-content: center;
    }
    
    .logo{
        margin: 0px auto;
        justify-items: center;
    }
    .footerConta{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: repeat(4, 75px);
    }
    .headof{
        margin: 0 auto;
    }
    .ofertasContainer{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}

