*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Index */
body.bg{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.logIn{
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logIn input{
    color: white;
    background-color: black;
    width: 80px;
    height: 30px;
}
.logo{
    margin: auto;
    justify-items: center;
    height: 500px;
    width: 500px;
}
.title{
    color: black;
    text-align: center;
    font-size: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.barraUsuario{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}
.barraUsuario a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.barraUsuario input{
    height: 60px;
    width: 150px;
    color: white;
    background-color: black;
    border-radius: 45%;
    transition: all 1s;
}
.barraUsuario input:hover{
    color: black;
    background-color: white;
    height: 80px;
    width: 175px;
}
.centralImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.carouselContainer{
    margin:auto;
    width: 1250px;
}
.footerContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px;
}
.footerLinks{
    display: grid;
    align-content: space-around;
    justify-content: center;
}
.footerConta{
    display: grid;
    grid-template-columns: 200px 200px;
    align-items: center;
}
.footer{
    text-decoration: none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: orange;
    width: 300px;
}

/* Log In */

body.text-center{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../img/fondo-logIn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#pI{
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#pI input{
    color: white;
    background-color: black;
    width: 120px;
    height: 30px;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

/* Lista de deseados */

table{
    border-collapse:collapse; border: none;}
td{
    padding: 0;}
.ldBody{
    background-image: url(../img/libreriaFondos/fondo-libreria.jpg);
}
.containerLista{
    padding-left: 100px;
}
.ldTable{
    height: 800px;
    width: 1200px;
    text-align: center;
    border: 5px solid black;
    font-size: 2rem;
    background-color: rgb(37, 37, 37);
    color: white;
}
.ldThead{
    height: 100px;
}
.ldImg{
    height: 175px;
    width: 150px;
}
.ldInput{
    height: 50px;
    width: 125px;
    font-size: 1.5rem;
    border-radius: 20%;
}
.ldTr1{
    transition: all 0.5s;
}
.ldTr2{
    transition: all 0.5s;
}
.ldTr3{
    transition: all 0.5s;
}
.ldTr1:hover{
    background-color: red;
}
.ldTr2:hover{
    background-color: red;
}
.ldTr3:hover{
    background-color: red;
}
.listaRespo{
    display: none;
}
.respoTable{
    width: 400px;
    text-align: center;
    border: 5px solid black;
    font-size: 2rem;
    background-color: rgb(37, 37, 37);
    color: white;
    margin: 0 auto;
}
.respoThead{
    height: 100px;
}


/* Ofertas */

.bofertas{
    background-image: url(../img/ofertas-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.h1ofe{
    color: white;
    font-size: 100px;
    text-align: center;
}
.ofertasContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    justify-items: center;
    gap: 50px;
    padding-top: 75px;
}
.ofertasItems{
    display: grid;
    grid-template-rows: 200px auto;
}
.ofertasItems img{
    height: 200px;
    width: 200px;
}
.ofertasItems p{
    color: white;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 1.1rem;
}

/* Responsive */

@media (319px <= width <= 767px) {
    .mainNav{
        margin: 0 auto;
    }
    .barraUsuario{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }
    .barraUsuario a{
        display: grid;
        justify-content: center;
    }
    .carouselContainer{
        max-width: 400px;
    }
    .logo{
        margin: 0px auto;
        justify-items: center;
        width: 400px;
        padding-top: 60px;
    }
    .logo img{
        width: 400px;
        height: 400px;
    }
    .footerConta{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: repeat(4, 95px);
        align-items: center;
        justify-items: center;
    }
    .footerConta{
        max-width: 150px;
    }
    .footerConta a{
        width: 100px;
    }
    .footerConta img{
        height: 75px;
        width: 75px;
    }
    .headof{
        margin: 0 auto;
    }
    .ofertasContainer{
        display:grid;
        grid-template-columns: 1fr;
    }
    .containerLista{
        display: none;
    }
    .listaRespo{
        display: inline;
    }
}

