* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barraUsuario {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
.barraUsuario a {
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.barraUsuario input {
  height: 60px;
  width: 150px;
  color: white;
  background-color: black;
  border-radius: 45%;
  transition: all 1s;
}
.barraUsuario input:hover {
  color: black;
  background-color: white;
  height: 80px;
  width: 175px;
}

body {
  background-image: url(../img/libreriaFondos/fondo-libreria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: black;
  text-align: center;
  padding-bottom: 50px;
  font-size: 3rem;
}

.containerLibreria {
  display: grid;
  grid-template-columns: 750px 750px;
  grid-template-rows: 500px 500px 500px;
  justify-content: center;
  gap: 150px;
}
.containerLibreria .libreriaSteam {
  background-image: url(../img/libreriaFondos/portal2jpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
}
.containerLibreria .libreriaSteam img {
  height: 200px;
  width: 200px;
  align-self: center;
}
.containerLibreria .libreriaSteam select {
  height: 19px;
  width: 160px;
  align-self: center;
}
.containerLibreria .libreriaPlay {
  background-image: url(../img/libreriaFondos/god-of-war.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
}
.containerLibreria .libreriaPlay img {
  height: 200px;
  width: 200px;
  align-self: center;
}
.containerLibreria .libreriaPlay select {
  height: 19px;
  width: 160px;
  align-self: center;
}
.containerLibreria .libreriaOrigin {
  background-image: url(../img/libreriaFondos/mass-effect.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
}
.containerLibreria .libreriaOrigin img {
  height: 200px;
  width: 200px;
  align-self: center;
}
.containerLibreria .libreriaOrigin select {
  height: 19px;
  width: 160px;
  align-self: center;
}
.containerLibreria .libreriaGog {
  background-image: url(../img/libreriaFondos/the-witcher.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
}
.containerLibreria .libreriaGog img {
  height: 200px;
  width: 200px;
  align-self: center;
}
.containerLibreria .libreriaGog select {
  height: 19px;
  width: 160px;
  align-self: center;
}
.containerLibreria .libreriaEpicgames {
  background-image: url(../img/libreriaFondos/borderlands.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
}
.containerLibreria .libreriaEpicgames img {
  height: 200px;
  width: 200px;
  align-self: center;
}
.containerLibreria .libreriaEpicgames select {
  height: 19px;
  width: 160px;
  align-self: center;
}
.containerLibreria .libreriaXbox {
  background-image: url(../img/libreriaFondos/halo-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
}
.containerLibreria .libreriaXbox img {
  height: 200px;
  width: 200px;
  align-self: center;
}
.containerLibreria .libreriaXbox select {
  height: 19px;
  width: 160px;
  align-self: center;
}

.footerContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px;
}
.footerContainer .footerConta {
  display: grid;
  grid-template-columns: 200px 200px;
}
.footerContainer .footerConta .footer {
  text-decoration: none;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  color: orange;
}
.footerContainer .footerLinks {
  display: grid;
  align-content: space-around;
}
.footerContainer .footerLinks .footer {
  text-decoration: none;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  color: orange;
}/*# sourceMappingURL=libreria.css.map */